/* --- ИНФОРМАЦИЯ --- */
.adviсe__container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.adviсe__content {
  flex: 1;
}

.adviсe__content .section__title {
  text-align: left;
}

.adviсe__text {
  margin-bottom: 30px;
  font-size: 16px;
}

.adviсe__image-placeholder {
  flex: 1;
  height: 300px;
  background-color: #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}
